.d-flex {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 15px;
  width: 75%;
  height: auto;
  min-height: 400px;
  background: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);

  transition: 0.5s;
}

body {
  background-color: #2f3a41;
  width: 100%;
  height: auto;
}

.pagination {
  background-color: #2f3a41;
  margin-top: 0;
}

footer {
  background-color: #2f3a41;
}

.h4 {
  width: 130%;
}

#blogTitle {
  color: #8dc7bc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style: italic;
  border-width: 3px;
  border-style: solid;
  border-color: #8dc7bc;
  width: inherit;
}

.mainBox {
  border-width: 10px;
  border-style: solid;
  border-color: #8dc7bc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dateNum {
  color: white;
  background-color: #2f3a41;
  width: 200px;
  text-align: center;
  border-radius: 10px 10px;
}
